.header {
    height: 100vh;
    position: relative;
    background-color: #c4c4c4;
    color: #fff;
    background-image: url('./../img/header/bg-1.jpg');
}

.header a {
    color: #fff;
}

.header__content {
    position: absolute;
    z-index: 9;
    top: 50px;
    left: 70px;
    right: 70px;
    bottom: 80px;
    background-color: rgba(192, 161, 161, 0.342);

    pointer-events: none; //чтобы клики сквозь header content проходили и на них реагировал свайпер

    @media (max-width: 1200px) {
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 60px;
    }
    @media (max-width: 767px) {
        top: 30px;
        left: 5%;
        right: 5%;
        bottom: 30px;
    }
}
