.header {
    height: 100vh;
    position: relative;
    background-color: #c4c4c4;
    color: #fff;
    background-image: url('./../img/header/bg-1.jpg');
}

.header a {
    color: #fff;
}

.header__content {
    pointer-events: none; //чтобы клики сквозь header content проходили и на них реагировал свайпер

    position: absolute;
    z-index: 9;
    top: 50px;
    left: 70px;
    right: 70px;
    bottom: 80px;

    @media (max-width: 1200px) {
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 60px;
    }
    @media (max-width: 767px) {
        top: 30px;
        left: 5%;
        right: 5%;
        bottom: 30px;
    }
}

.header__nav {
    pointer-events: all; //чтобы можно было кликать по ссылкам
}

.header__socials {
    pointer-events: all;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);

    @media (max-width: 767px) {
        display: none;
    }
    @media (max-height: 600px) {
        top: 40%;
    }
}

.header__see-more {
    pointer-events: all;

    position: absolute;
    left: 0;
    bottom: 0;
}

.header__slider-controls {
    pointer-events: all;

    position: absolute;
    right: 0;
    bottom: 0;
}

.header__scrollbar {
    pointer-events: all;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);

    width: 10px;
    height: 400px;
    background-color: #878787;
}
