:root {
    --radial-bg: radial-gradient(
        50% 50% at 50% 50%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
    );
    --linear-bg: linear-gradient(
        181deg,
        rgba(0, 0, 0, 0.2) 0.91%,
        rgba(255, 255, 255, 0) 116.71%,
        rgba(255, 255, 255, 0) 116.72%
    );
}

@mixin background-clip {
    -webkit-background-clip: text; //ставит фон по тексту
    -webkit-text-fill-color: transparent; //делает текст прозрачным

    // background-clip: text;
    // text-fill-color: transparent;
}

.slide {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #555;
    background-position: center center; /*x y*/
    background-size: cover;
    background-repeat: no-repeat;

    &--norway {
        background: var(--radial-bg), var(--linear-bg),
            url('./../img/header/bg-1.jpg');
        background-position: center center; /*x y*/
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--austria {
        background: var(--radial-bg), var(--linear-bg),
            url('./../img/header/bg-2.jpg');
        background-position: center center; /*x y*/
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--uae {
        background: var(--radial-bg), var(--linear-bg),
            url('./../img/header/bg-3.jpg');
        background-position: center center; /*x y*/
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--thailand {
        background: var(--radial-bg), var(--linear-bg),
            url('./../img/header/bg-4.jpg');
        background-position: center center; /*x y*/
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--morocco {
        background: var(--radial-bg), var(--linear-bg),
            url('./../img/header/bg-5.jpg');
        background-position: center center; /*x y*/
        background-size: cover;
        background-repeat: no-repeat;
    }

    color: #fff;

    // добавили пустой псевдо-элемент, чтобы заголовок опустился в центр при justify-content: space-between
    &::before {
        content: '';
    }

    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    @media (max-width: 1200px) {
        padding-bottom: 60px;
    }
    @media (max-width: 767px) {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}

.slide__header {
    position: relative;
    text-align: center;
}

.slide__tagline {
    position: absolute;
    top: -8px;
    width: 100%;

    font-weight: 500;
    // font-size: 30px;
    font-size: 1.56vw;
    line-height: 1.23;
    letter-spacing: 0.55em;
    color: rgba(255, 255, 255, 0.7);

    @media (max-width: 767px) {
        font-style: 3vw;
    }
}

.slide__title {
    // font-size: 250px;
    //привязываем размер шрифта к размеру окна
    //при размере окна в 1920px, 13vw - это 250px
    font-size: 13vw;
    font-weight: 700;
    line-height: 1.22;

    @media (max-width: 767px) {
        font-size: 19vw;
    }

    span {
        padding: 0 10px;
        background: linear-gradient(
                47.06deg,
                #000000 -3.87%,
                rgba(255, 255, 255, 0) 20.89%
            ),
            #ffffff;

        @include background-clip();
    }

    &--norway span {
        background: linear-gradient(
                47.06deg,
                #051d27 -3.87%,
                rgba(255, 255, 255, 0) 20.89%
            ),
            #ffffff;
        @include background-clip();
    }
    &--austria span {
        background: linear-gradient(
                47.06deg,
                #122127 -3.87%,
                rgba(255, 255, 255, 0) 20.89%
            ),
            #ffffff;
        @include background-clip();
    }
    &--uae span {
        background: linear-gradient(
                47.06deg,
                #aa6621 -3.87%,
                rgba(255, 255, 255, 0) 20.89%
            ),
            #ffffff;
        @include background-clip();
    }
    &--thailand span {
        background: linear-gradient(
                47.06deg,
                #2e7c88 -3.87%,
                rgba(255, 255, 255, 0) 20.89%
            ),
            #ffffff;
        @include background-clip();
    }
    &--morocco span {
        background: linear-gradient(
                47.06deg,
                #757575 -3.87%,
                rgba(255, 255, 255, 0) 20.89%
            ),
            #ffffff;
        @include background-clip();
    }
}

.slide__locations {
    display: flex;
    column-gap: 30px;
    width: 70%;
    margin: 0 auto;

    @media (max-width: 1023px) {
        width: 90%;
    }
    @media (max-width: 767px) {
        width: 90%;
        flex-direction: column;
        row-gap: 20px;
    }
}
